<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec sem ipsum. Vestibulum ante ipsum primis
      in faucibus orci luctus et ultrices posuere cubilia curae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec sem ipsum. Vestibulum ante ipsum primis
      in faucibus orci luctus et ultrices posuere cubilia curae Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec sem ipsum. Vestibulum ante ipsum primis
      in faucibus orci luctus et ultrices posuere cubilia curae Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec sem ipsum. Vestibulum ante ipsum primis
      in faucibus orci luctus et ultrices posuere cubilia curae;</p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>

</html>